.cv-wrapper{
    max-width: 1650px;
    margin: 0 auto;
    padding: 65px 0 190px 0;
}
.cv-text{
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
}
.cv-text.ux{
    max-width: 1040px;
    margin-bottom: 100px;
}
.cv-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.cv-text.design{
    max-width: 1190px;
}
.cv-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cv-btn{
    text-decoration: none;
    position: relative;
    &:hover .cv-btn-img{
        opacity: 0;
    }
    &:hover .cv-btn-img.b{
        left: -25%;
    }
    &:hover .cv-btn-img.a{
        right: -25%;
    }
}
.cv-btn-img{
    position: absolute;
    transition: 1s;
}
.cv-btn-img.b{
    top: -19px;
    left: -23px;
}
.cv-btn-img.a{
    top: -41px;
    right: -9px;
}

@media screen and (max-width:1799px) {
    .cv-text{
        font-size: 38px;
        line-height: inherit;
    }
    .cv-text.design {
        max-width: 990px;
    }
    .cv-text.ux {
        margin-bottom: 100px;
    }
    .cv-row {
        margin-bottom: 100px;
    }
    .cv-wrapper {
        padding: 65px 0 140px 0;
    }
}

@media screen and (max-width:1439px) {
    .cv-text{
        font-size: 32px;
        line-height: inherit;
    }
    .cv-text.design {
        max-width: 75%;
    }
    .cv-text.ux {
        max-width: 87%;
    }
    .cv-btn-img {
        width: 120px;
    }
}

@media screen and (max-width:1279px) {
.cv-text {
    font-size: 28px;
    line-height: inherit;
}
}

@media screen and (max-width:1023px) {
.cv-wrapper {
    max-width: 700px;
}
.cv-text {
    font-size: 24px;
    line-height: inherit;
}
.cv-wrapper {
    padding: 120px 0 120px 0;
}
.cv-btn-img {
    width: 100px;
}
}

@media screen and (max-width:767px) {
.cv-wrapper {
    max-width: 89.3%;
}
.cv-text {
    font-size: 20px;
}
.cv-text>br{
    display: none;
}
.cv-row{
    flex-direction: column;
}
.cv-text.design {
    max-width: 100%;
    margin-top: 40px;
}
.cv-text.ux {
    max-width: 100%;
    margin-bottom: 40px;
}
.cv-wrapper {
    padding: 150px 0 150px 0;
}
.cv-row {
    margin-bottom: 60px;
}
}