.header-wrapper{
    margin-top: 45px;
    align-items: center;
    display: flex;
}

.header-nav{
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    max-width: 439px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 260px;
    li{
        list-style-type: none;
        color: #FFFFFF;
    }
}

.header-country{
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
    a{
        text-decoration: none;
        color: #FFFFFF;
    }
}

.scroll-link{
    position:relative;
    ::before{
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background: #fff;
        transition: 0.5s;
        bottom: 0;
        left: 0;
    }
    :hover::before{
        width: 100%;
    }
}

@media screen and (max-width:1799px) {
    .header-nav li{
        font-size: 20px;
    }
    .header-country {
        font-size: 20px;
        line-height: inherit;
    }
}
