.up-wrapper {
    button{
        position: fixed;
        bottom: 56px;
        right: 56px;
        width: 100px;
        height: 100px;
        background: #fff;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: 0.5s;
        border: none;
    }
    button.show{
        opacity: 1;
        visibility: visible;
    }
}