.up-wrapper {
    button{
        position: fixed;
        bottom: 56px;
        right: 56px;
        width: 75px;
        height: 75px;
        background: #fff;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: 0.5s;
        border: none;
        transition: 0.5s;
    }
    button:hover{
        transform: scale(1.1);
    }
    button.show{
        opacity: 1;
        visibility: visible;
    }
    .up-img{
        width: 25px;
        object-fit: contain;
    }
}